.Header {
    background-color: dimgray;
    width: 100%;
    height: 100px;
}

.Navbar {
    background-color: teal;
    width: 100%;
    height: 40px;
}

.main {
    background-color: white;
    margin-top: 20px;
    width: 100%;
    height: 800px;
    display: flex;

}

.aside {
    background-color: greenyellow;
    width: 23.5%;
    height: 800px;
    margin-right: 29px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

    
    
.img1 {
    width: 25px;
    height: 25px;
    margin-top: 20px;
    background-color: saddlebrown;
}

/* Inicia Responsive para imágenes de Aside */

@media only screen and (max-width: 600px) {
    .img1 {
        width: 50px;
        height: 200px;
        margin-bottom: 20px;
        background-image: url(/ClaseGit14032020/PracticaGit/Recursos/img1/mgmt2.jpg);
        background-repeat: no-repeat;
    }
}

@media only screen and (min-width: 600px) {
    .img1 {
        width: 100px;
        height: 200px;
        margin-bottom: 20px;
        background-image: url(/ClaseGit14032020/PracticaGit/Recursos/img1/mgmt3.jpg);
        background-repeat: no-repeat;
        
    }
}

@media only screen and (min-width: 768px) {
    .img1 {
        width: 100px;
        height: 200px;
        margin-bottom: 20px;
        background-image: url(/ClaseGit14032020/PracticaGit/Recursos/img1/mgmt4.jpg);
        background-repeat: no-repeat;
    }
}

@media only screen and (min-width: 992px) {
    .img1 {
        width: 150px;
        height: 250px;
        margin-bottom: 20px;
        background-image: url(/ClaseGit14032020/PracticaGit/Recursos/img1/mgmt5.jpg);
        background-repeat: no-repeat;
    }
}

@media only screen and (min-width: 1200px) {
    .img1 {
        width: 200px;
        height: 300px;
        margin-bottom: 20px;
        background-image: url(/ClaseGit14032020/PracticaGit/Recursos/img1/mgmt6.jpg);
        background-repeat: no-repeat;
    }
}






.section {
    background-color: blueviolet;
    width: 75%;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
    
    
}

.row1 {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.row2 {
    display: flex;
    justify-content: space-around;
    
}

.img2 {
    width: 25px;
    height: 25px;
    background-color: saddlebrown;
    
}

/* Inicia Responsive para imágenes de Section */

@media only screen and (max-width: 600px) {
    .img2 {
        width: 50px;
        height: 200px;
        margin-bottom: 20px;
        background-image: url(/ClaseGit14032020/PracticaGit/Recursos/img2/king5.jpg);
        background-repeat: no-repeat;
    }
}

@media only screen and (min-width: 600px) {
    .img2 {
        width: 150px;
        height: 330px;
        margin-bottom: 20px;
        background-color: white;
        background-image: url(/ClaseGit14032020/PracticaGit/Recursos/img2/king4.jpg);
        background-repeat: no-repeat;
    }
}

@media only screen and (min-width: 768px) {
    .img2 {
        width: 200px;
        height: 300px;
        margin-bottom: 20px;
        background-image: url(/ClaseGit14032020/PracticaGit/Recursos/img2/king3.jpg);
        background-repeat: no-repeat;
    }
}

@media only screen and (min-width: 992px) {
    .img2 {
        width: 300px;
        height: 300px;
        margin-bottom: 20px;
        background-image: url(/ClaseGit14032020/PracticaGit/Recursos/img2/king2.jpg);
        background-repeat: no-repeat;
    }
}

@media only screen and (min-width: 1200px) {
    .img2 {
        width: 420px;
        height: 350px;
        margin-bottom: 20px;
        background-image: url(/ClaseGit14032020/PracticaGit/Recursos/img2/king1.jpg);
        background-repeat: no-repeat;
    }
}

.footer {
    width: 100%;
    
}

.footer1 {
    margin-top: 20px;
    background-color: rgb(90, 160, 224 );
    width: 100%;
    height: 100px;

}